*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

    :root {
        --theme-color: rgb(34, 34, 34);
    }

  html {
      font-size: 62.5%;
  }

  body {
      background-color: #eeeeee;
      color: #2b2b2b;
      font-size: 3.2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-direction: column;
  }

  .hero {
      background-color: var(--theme-color);
      background-image: url(../img/omard_brick.webp);
      background-size: cover;
      color:#fff;
      text-shadow: 2px 2px #000;
      padding:2.0rem;
      height: 45rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .hero > h1, .hero > p{
      margin: 0;
      padding: 0;
      background-color: #000;
      color: #fff;
  }

  .hero > h1::after {
    content: "Omard United Methodist Church";
  }
  
  @media only screen and (max-width: 1050px) {
      .hero > h1::after {
            content: "Omard UMC";
      }
  }

  @media only screen and (max-width: 728px) {
    .hero {
        height: 20rem;
        font-size: 2.0rem;
    }
}


  nav {
      background-color: var(--theme-color);
      color: #f5f5f5;
      font-size: 2.6rem;
      text-transform: lowercase;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  nav > a {
      text-decoration: none;
  }

  /* unvisited link */
  nav > a:link {
    color: #f5f5f5;
  }
  
  /* visited link */
  nav > a:visited {
    color: #cccccc;
  }
  
  /* mouse over link */
  nav > a:hover {
    background-color: yellow;
    color: var(--theme-color);
  }
  
  /* selected link */
  nav > a:active {
    color: #b3b3b3;
  }

  code {
      margin: 5px;
      padding: 10px;
      border: 3px solid greenyellow;
      border-radius: 20px;
      background-color: rgb(173, 255, 47, 0.2);
      font-size: 2.0rem;
      overflow-x:scroll
      white-space: nowrap;
  }