*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  html {
      font-size: 62.5%;
  }

  body {
      background-color: #f5f5f5;
      color: #2b2b2b;
      font-size: 3.2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-direction: column;
  }

  .hero {
      background-color: rgb(34, 34, 34);
      background-image: url(../img/omard_brick.webp);
      background-size: cover;
      color:#fff;
      text-shadow: 2px 2px #000;
      padding:2.0rem;
      height: 45rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .hero > h1, .hero > p{
      margin: 0;
      padding: 0;
      background-color: #000;
      color: #fff;
  }